<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.6" name="de.skillix.keycloak-skillixuser-provider.provider">
    <resources>
        <resource-root path="build/libs/keycloak-skillixuser-provider-0.0.1-SNAPSHOT-all.jar"/>
    </resources>
    <dependencies>
        <module name="org.keycloak.keycloak-core"/>
        <module name="org.keycloak.keycloak-server-spi"/>
        <module name="org.keycloak.keycloak-server-spi-private"/>
        <module name="org.keycloak.keycloak-services"/>
        <module name="org.apache.commons.commons-lang3"/>
        <module name="org.slf4j.slf4j-api"/>
        <module name="org.slf4j.slf4j-simple"/>
        <module name="org.jboss.logging"/>
    </dependencies>
</module>